body{
    overflow-x: hidden;
}
.wave{
    position: absolute;
    top: 130%;
    left: -35%;
    transform: rotate(150deg);
}
.WaveBottom{
    position: absolute;
    right: -15%;
    bottom: -30%;
    transform: rotate(90deg); 
    width: 25vw;
}
.questao{
    padding: 2rem;
}
.questoes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: 40rem;
}

.questions .points .conteudos {
    margin: 0 2rem;
    
}
#numQuestao{
    display: none;
}
#alternativas{
    padding: 0 2rem;

}
.vertical {
    border-left: 2px solid var(--color-primary);
    height: 35rem;
    overflow-y: hidden;
}

.Logo{
    width: 10rem;
}
.questions{

    color: var(--color-primary);
    font-size: 3rem;

}

h2{
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto;

}
.points{
    color: var(--color-primary);
    text-align: center;
}

.respostas{
	width: 500px;
	padding: 8px 5px;
	margin: 0.5rem ;

	display: flex;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	
	background: var(--color-primary);
	color: white;
	border: 0;
	
	border-radius: 5px;
	
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transition: 0.5s;

	cursor: pointer;
  }
  
  .respostas:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
	background: var(--color-secondary);
	color: rgb(0, 0, 0);
  }
li{
	color: white;
	padding: 20px 20px 20px 20px;

}
.ImgLogo{
    width: 5rem;
}
  

  
  #mostrar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }
  
  #modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
  }
  
  #mostrar,
  #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  
  .modal-body p {
    margin-bottom: 1rem;
  }
  
  #modal.esconder,
  #mostrar.esconder {
    opacity: 0;
    pointer-events: none;
  }
  
  #modal.esconder {
    top: 0;
  }

  .btnModal{
 
    width: 100px;
    padding: 8px 5px;
   
    background: var(--color-primary);
    color: white;
    border: 0;
   
    border-radius: 5px;
   
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 00.5s;
    cursor: pointer;
  }
   .btnModal:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: var(--color-secondary);
    color: rgb(0, 0, 0);
  }
 
.Answer{
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 500;
}

#explicação{

    font-size: 1.2rem;
    font-weight: 200;
    color: var(--color-primary);

}

@media only screen and (min-width: 1900px){
    .wave{
        position: absolute;
        top: -20%;
        left: -35%;
        transform: rotate(150deg);
        
    }

}
@media only screen and (max-width: 1900px){
    .wave{
        position: absolute;
        top: -15%;
        left: -35%;
        transform: rotate(150deg);
    }

}

@media only screen and (max-width: 950px){
    .wave{
        display: none;

    }
    .WaveBottom{
        display: none;
    }

    .questoes{
        display: inline;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
    .vertical{
        display: none;
    }
    .choices{
        display: table;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px){
    body{
        overflow-y: visible;
    }
    .wave{
        display: none;

    }
    .WaveBottom{
        display: none;

    }
    .respostas{
        width: 200px;
    }
}

@media only screen and (max-width: 400px){
    .wave{
       display: none;
    }
    .WaveBottom{
        display: none;

    }
}
@media only screen and (max-width: 350px){
    #alternativas{
        padding: 0 0rem;
    
    }
}