.btnPoints{
	width: 50vw;
	padding: 8px 5px;
	margin: 0.5rem;

	display: flex;
	justify-content: center;
  align-items: center;
	text-align: center;
	text-decoration: none;
  margin: 0 auto;

	color: rgb(255, 255, 255);
	border: 0;
  background: var(--color-primary);

	border-radius: 5px;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transition: 0.5s;

	cursor: pointer;
  }
  
  .btnPoints:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: var(--color-secondary);
	color: rgb(0, 0, 0);
  }


  .position{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5rem;
    
  }
  
  .position .animate{

    margin: 0 5rem 0 0;
    border-radius: 10rem;
    width: 700px;
    height: 400px;
  }

  .position h3{
    width: 50%;
    text-align: justify;
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-primary);
  }

  .imgLose{
    width: 50vh;
    margin: 5rem 10rem;
  }


  .animateWin{
    margin: 0 5rem;
    width: 700px;
    height: 600px;
  }
  .Circle{
    width: 150px;
    height: 150px;
  }  
circle{
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 10;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

circle:nth-child(1){
  stroke-dashoffset: 0;
  stroke: var(--color-primary);
}
circle:nth-child(2){
  stroke-dashoffset: calc(440 - 308);
  stroke: var(--color-secondary);
}

.box-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.number h2{
  margin: 0 0.5rem;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1300px){
  .container .position{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem auto;
  }
  .position h3{
    margin: 3rem 0;


  }
  .btnPoints{
    margin: 3rem 0;
    width: 50vw;

  }
}

@media only screen and (max-width: 600px){
  .position h3{
    top: 0%;
    width: 90%;
    text-align: justify;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-primary);
  }
  .btnPoints{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
  }
}